@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;500;900&family=Roboto+Condensed:wght@500&family=Young+Serif&display=swap');

/* nav style */
nav{
    background-color: #f9ecec;
    border: 1px solid #fae4e4;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar ul {
    list-style: none; 
    padding: 0px;
}

.navbar li {
    display: inline;
    margin-right: 25px;
    font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.Dot {
    color: grey;
}

.navbar a:hover {
    color: #ff6600;
}

.navbar button{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    font-weight: bold;
}

.navbar button:hover {
    border: 1px solid black;
    transition: border 0.3s ease;
}
/* nav syle end */

/* home style */
.Home-container {
    height: 157vh;
    background-color: #f9ecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}

.Home-container h3, .Home-container h1, .Home-container p {
    margin: 10px 0;
}

.Home-container h3 {
    font-size: 15px;
    border: 1px solid lightblue;
    background-color: white;
    color: rgb(209, 18, 247);
    padding: 8px 15px;
    border-radius: 10px;
}

.Home-container h1 {
    /* font-size: 90px;
    width: 80vw; */
    font-size: 80px;
    width: 80vw;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #333;
}

.Home-container span {
    color: rgb(245, 113, 66);
}

.Home-container p {
    width: 500px;
}

.Home-btn {
    display: flex;
    justify-content: space-around; 
}

.Home-btn button {
    padding: 12px 50px;
    background-color: darkviolet;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -300px;
    transition: border 0.2s ease-in-out;
}

.Home-btn button:hover {
    background-color: darkviolet; 
    border: 6px solid rgb(187, 187, 187);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
}

.Home-btn button:hover::after {
    content: '\2192'; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.Demo-btn {
    display: flex;
    align-items: center;
}

.Demo-btn button {
    padding: 10px 45px;
    background-color: white;
    color: #030000;
    content: '\25B6';
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: -60px;
}

.Demo-btn button:hover {
    border: 1px solid black;
    transition: border 0.3s ease;
}
/* home page css */

/* Dashboard page */
/* .card {
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c0c0; 
    border: none; 
    border-radius: 8px; 
    margin: 0px;
    padding: 15px; 
    box-sizing: border-box; 
} */

.Dasboard-image img{
    width: 100%; 
    height: auto; 
    margin-top: 80px;
    border-radius: 20px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
} 

/* premium page */
.premiumFeature-container {
    width: 100%;
    height: 550vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding: 20px;
}

.premiumFeature-container .pri-heading h5 {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: darkviolet; 
    font-size: 16px;
}

.premiumFeature-container .pri-content h1 {
    color: #333; 
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

.premiumFeature-container .pri-content span {
    color: #ff5733; 
}

.premiumFeature-container .pri-content p {
    width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #666;
    margin: 0 auto;
}

.pri-card {
    width: 45vw;
    height: 500px;
    background-color: rgb(239, 237, 255);
    margin-top: 25px;
    border: none;
    border-radius: 30px;
}

.emoji {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50px; 
    height: 50px; 
    border: none;
    border-radius: 20px; 
    padding: 7px 7px;
    font-size: 25px;
    margin-top: 90px;
    margin-left: 40px;
    background-color: white;
}

.pri-text {
    width: 70%;
    height: 50%;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

/* smart task management */
.task-card {
    width: 100%;
    height: 450px;
    margin-top: 120px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.task-card img {
    margin-top: 40px;
}

.task-card h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.task-card p {
    text-align: left;
    margin-left: 20px;
}
/* STM end */

/* flexible Scheduling */
.schedule-card {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.schedule-card img {
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
    width: 95%;
    box-shadow: -10px -10px 10px -5px rgba(0, 0, 0, 0.1);
}

.schedule-card h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.schedule-card p {
    text-align: left;
    margin-left: 20px;
}
/* FS end */

/* Easy communication */
.chat-card {
    width: 100%;
    height: 650px;
    margin-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.chat-card img {
    border-radius: 20px;
    width: 100%;
}

.chat-card h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.chat-card p {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}
/* EC end */

/* Analytics */
.Analytic-card {
    width: 100%;
    height: 650px;
    margin-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.Analytic-card img {
    margin: 30px;
    border-radius: 20px;
    width: 90%;
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1), 
                10px 0 10px -5px rgba(0, 0, 0, 0.1), 
                 0 -10px 10px -5px rgba(0, 0, 0, 0.1), 
                 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.Analytic-card h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.Analytic-card p {
    text-align: left;
    margin-left: 20px;
}
/* analytics end */

/* productivity */
.productivity {
    width: 10%;
    height: 440vh;
}

.card {
    width: 100vw;
    height: 80%;
}

.card h4 {
    width: 140px;
    padding: 5px;
    border: 1px solid lightblue;
    background-color: white;
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 60px;
    margin-bottom: 15px;
   color: darkviolet;
   font-size: 16px;
}

.card h1 {
    width: 90vw;
    margin-left: 60px;
    font-size: 40px;
    font-family:'Inter', sans-serif;
    margin-bottom: 15px;
}

.card span {
    color: #ff5733; 
}

.card p {
    width: 500px;
    font-size: 20px;
    margin-left: 60px;
    color: gray;
    font-family: 'Poppins', sans-serif;
}

.product-card1 {
    width: 90%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.pro-img img {
    width: 50px;
    height: 50px;
    /* display: block; */
    margin-top: 50px;
    border-radius: 10px;
}

.pro-title h3 {
    margin-top: 15px;
    font-family:'Poppins', sans-serif;
}

.pro-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card2 {
    width: 90%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.pro-img img {
    width: 50px;
    height: 50px;
    /* display: block; */
    margin-top: 50px;
    border-radius: 10px;
}

.pro-title h3 {
    margin-top: 15px;
    font-family:'Poppins', sans-serif;
}

.pro-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card3 {
    width: 90%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.pro-img img {
    width: 50px;
    height: 50px;
    /* display: block; */
    margin-top: 50px;
    border-radius: 10px;
}

.pro-title h3 {
    margin-top: 15px;
    font-family:'Poppins', sans-serif;
}

.pro-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* productivity icon */
.icons .box {
    width: 60%;
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.icons img {
    width: 50px;
    height: 50px;
    margin: 15px;
    border: 1px solid grey;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    margin-left: 5px;
    
}

.icons .git {
    background-color: #f9ecec;
    border-radius: 50px;
}

.icons .framer {
    background-color: white;
    color: #f9ecec;
    border-radius: 30px
}
/* icon */

/* integration */
.integration {
    width: 100%;
    height: 60vh;
}

.integration-card {
    text-align: center;
}

.title h4 {
    width: 12%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body h1 {
    width: 50%;
    margin-left: 27%;

}

.footer p {
    margin-left: 34%;
}

/* framer card */
.framer-card {
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 20px;
}

.framerInside-card img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 20px;
}

/* productivity end */

/* FAQ */
.FAQ {
    width: 100%;
    height: 130vh;
    margin-top: -30%;
}

.FAQ .title h4 {
    width: 7%;
    margin-left: 70px;
    border: 1px solid lightblue;
    background-color: white;
    color: darkviolet;
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.FAQ .body h1 {
    width: 15%;
    margin-left: 70px;
}

.FAQ span {
    color: #ff5733; 
}

.FAQ p {
    width: 45%;
    margin-left: 70px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.FAQ-card {
    width: 90%;
    height: 55px ;
    margin-left: 70px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
}

.FAQ-card h4 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.plus-icon {
    font-size: 40px;
    color: blue;
}

/* FAQ */

/* pricing */
.pricing {
    width: 100%;
    height: 400vh;
    background-color: rgb(150, 153, 153);
}

.pricing-plan {
    width: 100%;
    height: 60vh;
}

.pricing-plan h4 {
    width: 8%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    font-size: 16px;
    color: darkviolet;
    border-radius: 10px;
    padding: 10px;
}

.pricing-plan h1 {
    margin-left: 30%;
    margin-top: 15px;
}

.pricing-plan span {
    color: #ff5733; 
}

.pricing-plan p {
    width: 40%;
    margin-left: 30%;
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
}

.price-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.free {
    width: 40%;
    height: 500px;
    margin-top: -100px;
    background-color: rgb(186, 186, 186);
    border-radius: 20px;
}

.free h6 {
    width: 50px;
    margin-top: 50px;
    background-color: white;
    border: 1px solid lightblue;
    padding: 5px 8px;
    margin-left: 30px;
    border-radius: 10px;
    color: #ff5733;
}

.free h5 span {
    font-size: 50px;
    margin-left: 30px;
}

p span {
    color: #00ff00; /* Set green color */
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.free button {
    width: 20%;
    border: none;
    margin-left: 40px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
}

.free button:hover {
    border: 1px solid black;
    transition: border 0.3s ease;
}

.price-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard {
    width: 40%;
    height: 600px;
    margin-top: 80px;
    background-color: black;
    border-radius: 20px;
}

.standard  h6 {
    width: 100px;
    margin-top: 50px;
    background-color: white;
    border: 1px solid lightblue;
    padding: 5px 8px;
    margin-left: 30px;
    border-radius: 10px;
    color: #ff5733;
}

.standard  h5 span {
    font-size: 50px;
    margin-left: 30px;
    color: white;
}

.standard p {
    padding: 0;
    color: grey;
} 

p span {
    color: #00ff00; /* Set green color */
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.standard button {
    width: 30%;
    border: none;
    color: white;
    background-color: darkviolet;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: border 0.2s ease-in-out;
}

.standard button:hover {
    box-shadow: 0 0 8px rgb(5, 5, 5);
}

.price-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business {
    width: 40%;
    height: 580px;
    margin-top: 80px;
    background-color: rgb(186, 186, 186);
    border-radius: 20px;
}

.business  h6 {
    width: 90px;
    margin-top: 50px;
    background-color: white;
    border: 1px solid lightblue;
    padding: 5px 8px;
    margin-left: 30px;
    border-radius: 10px;
    color: #ff5733;
}

.business  h5 span {
    font-size: 50px;
    margin-left: 30px;
}

.business p {
    padding: 0;
} 

p span {
    color: #00ff00; 
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.business button {
    width: 20%;
    border: none;
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.business button:hover {
    border: 1px solid black;
    transition: border 0.3s ease;
}
